body {
    font: 22px 'PT serif', serif;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    color: rgb(43, 108, 194);
}
p {
    padding-bottom: 10px;
}
.article-title a {
    color: inherit;
    text-decoration: none;
}
.article-date {
    font-style: italic;
}

/* ==== main content ==== */
#content {
    padding-bottom: 60px;
}
#content.full-bleed {
    padding:0;
}
#content.photo {
    padding: 0;
    margin:0;
}

/* ==== post excerpt ==== */

a.post-excerpt {
    display: block;
    color: inherit;
}
a.post-excerpt div.padded-content {
    display: block;
    padding: 10px;
}

@media screen and (min-width: 680px) {
    a.post-excerpt {
        position:relative;
        display: block;
        width:50%;
        overflow-y: hidden;
        float:left;
        margin-bottom:10px;
    }
}

a.post-excerpt:hover {
    text-decoration:none;
}

a.post-excerpt div.title {
    font-weight: bold;
}


/* ==== sidebar ==== */
#sidebar {
    text-align: center;
}
#social a {
    color: #777777;
}
#logo {
    color: inherit;
    letter-spacing: -1px;
    font-weight: bold;
}

#content img {
    width: 90%;
    align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#content img.thumb {
    width: inherit;
    border: 1px solid #606060;
    margin: 10px;
    float: right;
    padding: 0;
}


.blueimp-gallery > .close,
.blueimp-gallery > .title {
  background: black;
  padding: 5px;
  opacity: 1;
}
