/* ==== main content ==== */
div.content {
    background:white;
    padding:70px 60px;
    margin-bottom:60px;
}
div.content.full-bleed {
    padding:0;
}
div.content.photo {
    padding: 0;
    margin:0;
}

div.content img { display:block; max-width:100%; margin:1em 0; }
div.content *[align=right] { margin:0 0 1em 1em; }
div.content *[align=left] { margin:0 1em 1em 0; }

/* ==== post excerpt ==== */

a.post-excerpt {
    display: block;
    color: inherit;
    border-bottom: 4px solid #ddd;
}
a.post-excerpt div.padded-content {
    display: block;
    padding: 40px;
}

@media screen and (min-width: 680px) {
    a.post-excerpt {
        position:relative;
        display: block;
        width:50%;
        overflow-y: hidden;
        float:left;
        border:none;
        margin-bottom:10px;
    }
}

a.post-excerpt:hover {
    color:white;
    background:#444;
    text-decoration:none;
}

a.post-excerpt div.title {
    font-weight: bold;
}
