---
layout: default
---
<div class="posts">
  <div class="content full-bleed">
  {% for post in site.posts %}
    <a href="{{ post.url }}" class="post-excerpt{% if post.photo_url %} photo{% endif %}">
      <div class="padded-content">
        <h1 class="title">{{ post.title }}</h1>
        {% if post.photo_url %}
          <div class="image" style="background-image:url('{{ post.photo_url }}')"></div>
        {% else %}
          {% if post.description %}
            <span class="body">{{ post.description | strip_html }}</span>
          {% else %}
            <span class="body">{{ post.excerpt | strip_html }}</span>
          {% endif %}
        {% endif %}<!-- post.photo_url -->
      </div>
    </a>{% endfor %}
  </div>
</div>
