<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<script src="/js/all.js"></script>
{% for css in page.css %}<link rel="stylesheet" href="{{ css }}">{% endfor %}
{% for js in page.js %}<script src="{{ js }}"></script>{% endfor %}

<link rel="stylesheet" href="/css/all.css">

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}" />
{% endif %}

<link rel="alternate" type="application/atom+xml" title="James Malcolm" href="http://feeds.feedburner.com/jgmalcolm">
<link rel="shortcut icon" href="/favicon.ico">

{% include open-graph.html %}

<script>
$(document).ready(function(){

  /* hover anchor tags on all headers */
  $(".content :header").each(function(i, el) {
    var $el = $(el);
    var id = $el.attr('id');
    if (id) {
      return $el.append($("<a/>").addClass("header-link").attr("href", "#" + id).html("#"));
    }
  });

  /* highlight broken markdown links */
  var broken = $(".content").html().match(/\[.*?\][\[\(].*?[\]\)]/);
  if (broken) {
    $(document.body).append("<span style='position:fixed;width:100%;top:0;color:red;background-color:yellow'>Broken:<br> " + broken + "</span>");
  }

  /* remove click delays on mobile */
  FastClick.attach(document.body);
});
</script>
