{% if page.title %}
  {% assign title = page.title %}
  {% if page.description %}
    {% assign description = page.description %}
  {% else %}
    {% assign description = page.excerpt | strip_html | truncatewords: 25 %}
  {% endif %}
{% else %}
  {% assign title = site.name %}
  {% assign description = site.description %}
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="description" content="{{ description }}" />
{% capture url %}{{ site.url }}{{ page.url | remove_first:'index.html' }}{% endcapture %}
<meta property="og:url" content="{{ url }}" />
<meta property="article:author" content="https://www.facebook.com/jamesgmalcolm" />

{% if page.keywords or page.tags %}
<meta name="keywords" content="{{ page.keywords | join: ',' }},{{ page.tags | join: ',' }}" />
{% endif %}
{% if page.photo %}<meta property="og:image" content="{{site.url}}{{page.photo}}" />{% endif %}
<meta property="og:image" content="http://jgmalcolm.com/about/malcolm.jpg" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@jgmalcolm" />
<meta name="twitter:creator" content="@jgmalcolm" />
<meta name="twitter:image" content="http://jgmalcolm.com/about/malcolm.jpg" />
{% if page.photo %}<meta name="twitter:image" content="{{site.url}}{{page.photo}}" />{% endif %}
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:url" content="{{ url }}" />
