<div id="pharm" class="message no-print" style="overflow:hidden">

  <a href="//pharm450.com">
    <img src="/images/artist_studio-characters.png" style="border:none; max-width: 30%; float:right">
  </a>
  My newest project is <a href="//pharm450.jgmalcolm.com">Pharm450.com</a>, the easiest
  way to learn pharmacology for USMLE Step 1.  Pharm450 packs an entire course
  on medical pharmacology into a set of entertaining videos that leverage your
  visual, spatial, and emotional memory so you learn faster and retain more.
</div>
