<script>
<!--
$(document).ready(function(){

  /* construct TOC and header anchors */
  var toc = "", toc_count = 0;
  $(".content :header").each(function(i,e) {
    var $e = $(e), id = $e.attr('id'), text = $e.text();
    if (id) {
      $e.append($("<a/>").addClass("header-link").attr("href", "#" + id).html("#"));
      if (toc_count < 7 && e.tagName.match("H2")) {
        toc += "<tr href='#" + id + "'><td>" + text + "</td></tr>";
        toc_count++;
      }
    }
  });

  if (toc) {
    $("#toc").html(toc);
    var toc_rows = $("#toc tr");
    toc_rows.click(function() {
      window.document.location = $(this).attr("href");
    });
    $.event.add(window, "scroll", function() {
      var pos_win = $(window).scrollTop();

      $.each(toc_rows, function(i,row) {
        row = $(row);
        var href = row.attr("href");
        var pos_hdr = $(href).offset().top;
        if (pos_hdr - 100 < pos_win) {
          if (!row.hasClass("active")) {
            toc_rows.removeClass("active");
            row.addClass("active");
          }
        }
      });
    }); /* event.add("scroll") */
  } /* if toc */

  /* highlight broken markdown links */
  var broken = $(".content").html().match(/\[.*?\][\[\(].*?[\]\)]/);
  if (broken) {
    $(document.body).append("<span style='position:fixed;width:100%;top:0;color:red;background-color:yellow'>Broken:<br> " + broken + "</span>");
  }

  /* remove click delays on mobile */
  FastClick.attach(document.body);


});

/* track outbound clicks */
function _gaLt(event) {
  var el = event.srcElement || event.target;

  /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
  while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)) {
    el = el.parentNode;
  }

  if (el && el.href) {
    /* link */
    var link = el.href;
    if (link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)) { /* external link */
      /* HitCallback function to either open link in either same or new window */
      var hitBack = function(link, target){
        target ? window.open(link, target) : window.location.href = link;
      };
      /* Is target set and not _(self|parent|top)? */
      var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
      /* send event with callback */
      ga(
        "send", "event", "Outgoing Links", link,
        document.location.pathname + document.location.search,
        {"hitCallback": hitBack(link, target)}
      );

      /* Prevent standard click */
      event.preventDefault ? event.preventDefault() : event.returnValue = !1;
    }

  }
}

/* Attach the event to all clicks in the document after page has loaded */
var w = window;
w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1)
 : w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});

//-->
</script>
