<script>
<!--
$(document).ready(function(){

  /* construct TOC and header anchors */
  var toc = "", toc_count = 0;
  $(".content :header").each(function(i,e) {
    var $e = $(e), id = $e.attr('id'), text = $e.text();
    if (id) {
      $e.append($("<a/>").addClass("header-link").attr("href", "#" + id).html("#"));
      if (toc_count < 7 && e.tagName.match("H2")) {
        toc += "<tr href='#" + id + "'><td>" + text + "</td></tr>";
        toc_count++;
      }
    }
  });

  if (toc) {
    $("#toc").html(toc);
    var toc_rows = $("#toc tr");
    toc_rows.click(function() {
      window.document.location = $(this).attr("href");
    });
    $.event.add(window, "scroll", function() {
      var pos_win = $(window).scrollTop();

      $.each(toc_rows, function(i,row) {
        row = $(row);
        var href = row.attr("href");
        var pos_hdr = $(href).offset().top;
        if (pos_hdr - 100 < pos_win) {
          if (!row.hasClass("active")) {
            toc_rows.removeClass("active");
            row.addClass("active");
          }
        }
      });
    }); /* event.add("scroll") */
  } /* if toc */

  /* highlight broken markdown links */
  var broken = $(".content :visible").html().match(/\[.*?\][\[\(].*?[\]\)]/);
  if (broken) {
    $(document.body).append("<span style='position:fixed;width:100%;top:0;color:red;background-color:yellow'>Broken:<br> " + broken + "</span>");
  }

  /* remove click delays on mobile */
  FastClick.attach(document.body);

  /* cookies */
  function setCookie(key, value) {
      var expires = new Date();
      expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000)); // 1 day
      document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
  }
  function getCookie(key) {
      var value = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return value ? value[2] : null;
  }

});

//-->
</script>
