<div id="search-box" class="no-print">
  <script>
    window.__gcse = {
      callback: function() {
        if (window.location.hash) {
          window.location.hash = window.location.hash.replace(/&?gsc.tab=0/g, '');
          if (window.location.hash == '' && typeof window.history.replaceState == 'function') {
            history.replaceState(null, '', window.location.href.split('#')[0]);
          }
        }
      }
    };

    (function() {
    var cx = '014790379784634326600:tfauztsebvo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search enableAutoComplete="true"></gcse:search>
</div>
