<a href="/"><img id="avatar" src=""></img></a>
<h3 id="logo"><a href="/">{{ site.name }}</a></h3>

<hr class="small" />
<div id="social" class="fa fa-lg">
  <a href="https://twitter.com/jgmalcolm" title="Twitter"><i class="fa-twitter"></i></a>
  <a href="https://github.com/jgmalcolm" title="GitHub"><i class="fa fa-github"></i></a>
  <a href="http://linkedin.com/in/jgmalcolm" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
  <a href="http://scholar.google.com/citations?user=k8pxfGQAAAAJ" title="Google Scholar"><i class="fa fa-google-plus"></i></a>
  <a href="mailto:me@jgmalcolm.com?subject=Hi" title="E-Mail"><i class="fa fa-envelope"></i></a>
  <a href="{{ site.url }}/atom.xml" title="Subscribe (Atom)"><i class="fa fa-rss"></i></a>
  <a href="http://stackoverflow.com/users/241594" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
</div> <!-- social -->

<!-- <hr class="small" />
<div class="nav">
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/work">Work</a></li>
  </ul>
</div> -->
