<!-- <a href="/"><img id="avatar" src="/images/malcolm.jpg"></img></a> -->

<div id="logo">{{ site.name }}</div>

<header>
<p>i'm a med student in Atlanta with an interest in ideas, tools, and tech.</p>
</header>

<nav>
<a href="/">posts</a> -
<a href="/pubs/research.html">research</a> -
<a href="/pubs">pubs</a> -
<a href="/about">about</a>
</nav>


<br/>

<div id="social">
  <a href="https://twitter.com/jgmalcolm" title="Twitter">twitter</a> -
  <a href="https://github.com/jgmalcolm" title="GitHub">github</a> -
  <a href="http://scholar.google.com/citations?user=k8pxfGQAAAAJ" title="Google Scholar">scholar</a> -
  <a href="mailto:me@jgmalcolm.com?subject=Hi" title="E-Mail">email</a> -
  <a href="{{ site.url }}/atom.xml" title="Subscribe (Atom)">rss</a>
</div>
