body {
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
    font-weight: bold;
    color: rgb(69, 88, 96);
    letter-spacing: -1px;
    font-style: italic;
}
a {
    color: rgb(72, 143, 172);
}
a:hover {
    color: rgb(72, 143, 172);
}
p + h1, p + h2, p + h3, p + h4 {
    margin-top: 40px;
}
p + p {
    margin-top: 1em;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 90%;
  font-style: italic;
}

a.button {
    font-size: 19px;
    border: 1px solid;
    border-radius: 10px;
    padding: .25em 1em;
}
a.button:hover {
    text-decoration: none;
    color: white;
    background: #c4161c;
}

/* ==== main content ==== */
#content {
    padding-bottom: 50px;
}
p.tags {
    text-align: right;
}
p.tags span {
    font-weight: bold;
}

div.footnotes::before {
    content: "Footnotes:";
}
div.footnotes {
    font-size: 80%;
}

hr {
    border: 1px solid #ddd;
    width: 80%;
}

/* ==== post excerpt ==== */

a.post-excerpt {
    color: inherit;
}

a.post-excerpt:hover {
    text-decoration:none;
}

.header-link {
  font-size: 75%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/* ==== sidebar ==== */
#sidebar {
    text-align: center;
}
#logo {
    color: inherit;
    letter-spacing: -2px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: 15px;
}

#content img {
    max-width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    margin: 20px 0;
}
#content img.thumb {
    margin: 15px;
    float: right;
    max-width: 50%;
}
#content img.bookcover {
    margin: 15px;
    float: right;
    max-width: 30%;
}


.blueimp-gallery > .close,
.blueimp-gallery > .title {
  background: black;
  padding: 5px;
  opacity: 1;
}
