html {
  font-family: Lato, Helvetica, sans-serif;
}
code, pre {
  font-family: Monaco, 'Courier New', monospace;
}

h1,h2,h3,h4 {
  font-weight: bold;
}
body {
  color: #222;
}
blockquote {
  color: #777;
  border-left: 4px solid #b00;
}

a, a:link, a:active, a:visited {
  color: #b00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
.sidebar a {
  color: #fff;
}

.header-link {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}


.content img {
  margin: 8px 0;
  border: #888 1px solid;
  border-radius: 4px;
}

figure {
  margin: 0;
  padding: 0;
}
.thumb {
  margin: 4px;
  max-width: 40%;
  float: right;
}
figcaption {
  margin-left: 8px;
  font-size: 80%;
  font-style: italic;
  color: #444;
}

.blueimp-gallery > .close,
.blueimp-gallery > .title {
  background: black;
  padding: 5px;
  opacity: 1;
}


.tags {
    padding: 4px;
    color: #666;
    font-weight: bold;
}


li > ul {
    margin-bottom: 0;
}
ul {
    padding-left: 1.25rem;
}

.hljs, code, pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #F7F7F7;
  font-size: 0.8em;
  overflow: scroll;
  border: #bbb 1px solid;
  border-radius: 3px;
}
pre > code {
  border: none; /* avoid double-borders */
}

@media (max-width: 48em) {
  .hljs, pre, code {
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
  }
}
