body {
    font-size: 18px;
    text-rendering: optimizeLegibility;
    line-height: 29px;
    font-family: Helvetica, Arial, sans-serif;
    color: #52606B;
}
h1, h2, h3, h4 {
    color: #281B21;
    letter-spacing: -2px;
}
a {
    color: #603;
}
a:hover {
    color: #603;
}
a.post-tile {
    font-weight: normal;
}
p + h1, p + h2, p + h3, p + h4 {
    margin-top: 40px;
}
p + p {
    margin-top: 1em;
}
blockquote {
  border-left: 5px solid #603;
  margin: 1.5em 0px;
  font-style: italic;
}

a.button {
    font-size: 19px;
    border: 1px solid;
    border-radius: 10px;
    padding: .25em 1em;
}
a.button:hover {
    text-decoration: none;
    color: white;
    background: #c4161c;
}

/* ==== main content ==== */
#content {
    padding-top: 10px;
    padding-bottom: 50px;
}
div.tags {
    text-align: right;
    font-weight: bold;
    font-size: 80%;
}

div.footnotes::before {
    content: "Footnotes: ";
}
div.footnotes {
    font-size: 80%;
}

hr {
    border: 1px solid #ddd;
    width: 80%;
}

/* ==== post excerpt ==== */

p.post {
}

p.post .title {
    font-size: 1.1em;
    font-weight: bold;
}
a.post-tile {
    color: inherit;
}
a.post-tile:hover {
    text-decoration: none;
}

.header-link {
  font-size: 75%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/* ==== sidebar ==== */
#sidebar {
    text-align: center;
}
#logo {
    color: #281B21;
    letter-spacing: -2px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: 15px;
}

#content img {
    max-width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    margin: 20px 0;
}
#content img.thumb {
    margin: 15px;
    float: right;
    max-width: 50%;
}
#content img.bookcover {
    margin: 15px;
    float: right;
    max-width: 30%;
}


.blueimp-gallery > .close,
.blueimp-gallery > .title {
  background: black;
  padding: 5px;
  opacity: 1;
}

.back-to-top {
  font-size: 18px;
  font-weight: bold;
}

.btn-fixed-bottom {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
}
.btn-light {
  color: #555;
  background-color: rgba(0, 0, 0,.1);
}
.btn-light:hover {
  color: #111;
  background-color: rgba(0, 0, 0,.25);
}
