@media print {
  .no-print, .no-print * {
      display: none !important;
  }

  * {
      text-shadow: none !important;
      color: #000 !important;
      background: transparent !important;
      box-shadow: none !important
  }
  a,a:visited {
      text-decoration: underline
  }
  pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid
  }
  thead {
      display: table-header-group
  }
  tr,img {
      page-break-inside: avoid
  }
  p,h2,h3 {
      orphans: 3;
      widows: 3
  }
  h1,h2,h3,h4,h5 {
      page-break-after: avoid
  }
  select {
      background: #fff !important
  }
  .table td, .table th {
      background-color: #fff !important
  }
  .table {
      border-collapse: collapse !important
  }
}
