<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns">
  <head>
    {% include head.html %}
  </head>

  <body>

    <!-- Primary Page Layout
    ================================================== -->
    <div class="row-fluid">

      <section id="sidebar" class="col-xs-12 col-md-2">
        {% include sidebar.html %}
      </section>

      <section id="content" class="col-xs-12 col-md-10">
        {{ content }}
      </section>

    </div><!-- container -->

    {% include analytics.html %}
  </body>
</html>
