<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}James Malcolm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="James Malcolm" href="http://feeds.feedburner.com/jgmalcolm">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jgmalcolm">

    <!-- Facebook OpenGraph -->
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="og:description" content="{{ page.description }}">
      {% else if content %}
      <meta name="description" content="{{ content | strip_html | truncatewords: 25 }}">
      <meta name="og:description" content="{{ content | strip_html | truncatewords: 25 }}">
      {% endif %}
    {% else %}
      <meta name="description" content="Ramblings by James Malcolm -- a med student in Atlanta with a passion for tech">
    {% endif %}
    {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
    {% endif %}
    <meta property="og:url" content="http://jgmalcolm.com{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="jgmalcolm.com">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_EN" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
  </head>

  <body>
    <header>
      <h1>James Malcolm</h1>
      <a class="icon" href="https://twitter.com/jgmalcolm" title="Twitter"><i class="icon-twitter"></i></a>
      <a class="icon" href="https://github.com/jgmalcolm" title="GitHub"><i class="icon-github"></i></a>
      <a class="icon" href="http://linkedin.com/in/jgmalcolm" title="LinkedIn"><i class="icon-linkedin"></i></a>
      <a class="icon" href="http://scholar.google.com/citations?user=k8pxfGQAAAAJ" title="Google Scholar"><i class="icon-google-plus"></i></a>
      <a class="icon" href="mailto:me@jgmalcolm.com?subject=Hi" title="E-Mail"><i class="icon-envelope"></i></a>
      <a class="icon" href="{{ site.url }}/atom.xml" title="Subscribe (Atom)"><i class="icon-rss"></i></a>
      <a class="icon" href="http://stackoverflow.com/users/241594" title="StackOverflow"><i class="icon-stack-overflow"></i></a>
    </header>

    <!--div class="wrapper content"-->
      {{ content }}
    <!--/div-->

    {% if paginator.page %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}

    {% unless page.no_footer %}
    <footer>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US" class="cc"><img src="/res/cc-cc.png" class="cc">
        <img src="/res/cc-by.png" class="cc"></a>
        This site design is heavily adapted from <a href="http://rsms.me">Rasmus Andersson</a> and
        is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons License</a>
      </p>
    </footer>
    {% endunless %}

    {% include analytics.html %}
  </body>
</html>
