---
layout: default
---

{% if page.tags.size > 0 %}
<div class="tags">
  {% for tag in page.tags %}
    <a href="/search/?q={{ tag }}">{{ tag }}</a>
  {% endfor %}
</div>
{% endif %}

{% if page.description %}
<blockquote>{{ page.description }}</blockquote>
{% endif %}

{{ content }}

{% if page.tags.size > 0 %}
<div class="tags">
  {% for tag in page.tags %}
    <a href="/search/?q={{ tag }}">{{ tag }}</a>
  {% endfor %}
</div>
{% endif %}

<div class="no-print">
  <hr>
  {% include related.html %}
</div>
