---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.tags.size > 0 %}
  <p class="tags">
  tags:
  {% for tag in page.tags %}
    <a href="/search/?q={{ tag }}">{{ tag | remove: ',' }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}
  </p>
  {% endif %}

  {% if page.description %}
  <div class="lead message">{{ page.description }}</div>
  {% endif %}

  {{ content }}

  {% include improve.html %}
</div>

<div class="related no-print">
  <h2>Recent Posts</h2>
  <ul class="related-posts">
    {% for related in site.related_posts limit:3 %}
      <li>
        <a href="{{ related.url }}">{{ related.title }}</a> -
        {% if related.description %}
          {{ related.description }}
        {% else %}
          {{ related.excerpt | strip_html | truncatewords: 25 }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% unless page.nocomments %}
  {% include comments.html %}
{% endunless %}
