---
layout: default
---
<h2>
  <a href="/z80">z80</a>
{% if page.section %}
  &raquo; <a href="/z80/#{{ page.section | downcase }}">{{ page.section }}</a>
{% endif %}
</h2>

<h1 class="title">{{ page.title }}</h1>


{{ content }}

{% unless page.nocomments %}
  {% include comments.html %}
{% endunless %}

<link rel="stylesheet" href="/css/highlight-default.css">
<script src="/js/highlight.min.js"></script>
<script>
$(document).ready(function(){

  /* highlight all code */
  $("pre").each(function(idx,elem) {
    $(elem).addClass("z80asm");
    hljs.highlightBlock(elem);
  });

});
</script>
