---
layout: default
---
<p><b>
  <a href="/z80">z80</a>
{% if page.section %}
  &raquo; <a href="/z80/#{{ page.section | downcase }}">{{ page.section }}</a>
{% endif %}
</b></p>

{{ content }}

<link rel="stylesheet" href="/css/highlight-default.css">
<script src="/js/highlight.min.js"></script>
<script>
$(document).ready(function(){

  /* highlight all code */
  $("pre").each(function(idx,elem) {
    $(elem).addClass("z80asm");
    hljs.highlightBlock(elem);
  });

  $(".content h2, .content h3").each(function(i,e) {
    var $e = $(e), id = $e.attr("id");
    if (!id) {
      $e.attr("id", e.innerText.replace(/^[^a-z]+|[^\w:.-]+/gi, ""));
    }
  });

});
</script>
