---
layout: default
css:
- /css/highlight-default.css
---
<p><b>
  <a href="/z80">z80</a>
  {% if page.section %}
    &raquo; <a href="/z80/#{{ page.section | downcase }}">{{ page.section }}</a>
  {% endif %}
</b></p>

{{ content }}

<p class="no-print">
<hr>
<b>More from
  <a href="/z80">z80</a>
  {% if page.section %}
    &raquo; <a href="/z80/#{{ page.section | downcase }}">{{ page.section }}</a>
  {% endif %}
  </b><br>

  {% for p in site.pages %}
    {% if p.layout == "z80" and p.section == page.section %}
      {% if p.title != page.title %}<a href="{{ p.url }}">{% endif %}{{ p.title }}{% if p.title != page.title %}</a>{% endif %}
      ///
    {% endif %}
  {% endfor %}
</p>

<script src="/js/highlight.min.js"></script>
<script>
$(document).ready(function(){

  /* highlight all code */
  $("pre,code").each(function(idx,elem) {
    $(elem).addClass("z80asm");
    hljs.highlightBlock(elem);
  });

  $(".content h2, .content h3").each(function(i,e) {
    var $e = $(e), id = $e.attr("id");
    if (!id) {
      $e.attr("id", e.innerText.replace(/^[^a-z]+|[^\w:.-]+/gi, ""));
    }
  });

});
</script>
